{% extends "layout.html" %}
{% block content %}

    <h1 class="textCenter">Home Page Content</h1>

    <div class="textCenter flex justifyCenter marginSides">
        <div class="margin1">
            <div class="itemName">Hamburger</div>
            <div class="itemPrice">10.00</div>
            <input type="number" name="itemAmount" id="itemAmount">
        </div>
        <div class="margin1">
            <div class="itemName">Fries</div>
            <div class="itemPrice">5.00</div>
            <input type="number" name="itemAmount" id="itemAmount">
        </div>
        <div class="margin1">
            <div class="itemName">Drink</div>
            <div class="itemPrice">3.00</div>
            <input type="number" name="itemAmount" id="itemAmount">
        </div>
    </div>

    <div class="textCenter">
        <button class="margin1" onclick="testLog()">Start Test</button>
        <div id="total"></div>
    </div>

{% endblock content %}