<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <title>POS System</title>
</head>
<body>
    <nav>
        <h1><a class="anchor" href="{{ url_for('home') }}">POS System</a></h1>
        <!-- <div class="nav-list">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="">Pokedex</a>
            <a href="">Trainers</a>
            <a href="">Blog</a>
            {% if current_user.is_authenticated %}
                <a href="">Account</a>
                <a href="">Logout</a>

            {% else %}
                <a href="">Sign In</a>
                <a href="">Register</a>
            {% endif %}
        </div>
        <div class="dropdown">
            <button onclick="mobileFunction()" class="dropbtn">&#x2630;</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="{{ url_for('home') }}">Home</a>
              <a href="">Pokedex</a>
              <a href="">Trainers</a>
              <a href="">Blog</a>
            {% if current_user.is_authenticated %}
                <a href="">Account</a>
                <a href="">Logout</a>
            {% else %}
                <a href="">Sign In</a>
                <a href="">Register</a>
            {% endif %}
            </div>
          </div> -->
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="marginSides">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>